In [1]:
import pandas as pd
sentences = pd.read_csv('sentences.csv')

In [2]:
sentences.head()

,darija,eng,darija_ar
0,"homa mkhbbyin chi haja, ana mti99en!","They're hiding something, I'm sure!","هوما مخبّيين شي حاجة, أنا متيقّن!"
1,bayna homa tay7awlo ib9aw mbrrdin.,It's obvious they're trying to keep their cool.,باينا هوما تايحاولو إبقاو مبرّدين.
2,loTilat mabaynach fihom mori7in bzzaf.,the hotels don't seem very comfortable.,لوطيلات مابايناش فيهوم موريحين بزّاف.
3,ghaliban ghayjrriw 3lih mn lkhdma!,he is probably about to be laid off by head of...,غاليبان غايجرّيو عليه من لخدما!
4,Tab3an rah mkta2eb!,of course he's depressive!,طابعان راه مكتاءب!

In [4]:
translated = sentences.iloc[:12747]
translated.tail()

,darija,eng,darija_ar
12742,ra deja chet imta 5aykoun lfilm,i've already checked the showtimes,را دجا شت إمتا خايكون لفيلم
12743,nhar l7ed 5aydar flil m3etel,there's a late night screening on saturday,نهار لحد خايدار فليل معتل
12744,ana kangoul nmchiw nt3echaw 9bel,i'm thinking we could grab some dinner before ...,أنا كانڭول نمشيو نتعشاو قبل
12745,blan nadi,that's a great plan,بلان نادي
12746,film ou 3cha a7ssen combo,"dinner and a movie, the ultimate combo",فيلم و عشا أحسّن كومبو

In [5]:
translated.to_csv('translated.csv')

In [6]:
untranslated = sentences.iloc[12747:]
untranslated.head()

             darija  eng    darija_ar
12747    lbs hwayjk  NaN   لبس حوايجك
12748     kayn lbrd  NaN    كاين لبرد
12749    skhon lhal  NaN    سخون لحال
12750    kaytih tlj  NaN   كايتيه تلج
12751  ghadi nsafro  NaN  غادي نسافرو

In [7]:
untranslated.shape

(75038, 3)

In [8]:
for i in range(0,75000,1000):
    untranslated.iloc[i:i+1000].to_csv(f'{i//1000 + 1}.csv', index = False)

In [11]:
a = pd.concat([pd.read_csv('75.csv'), untranslated[75000:]], ignore_index=True)
a.to_csv('75.csv', index = False)

In [12]:
total = 0
for i in range(1,76):
    tmp = pd.read_csv(f'{i}.csv')
    print(f'the shape of {i}.csv is {tmp.shape}')
    total += tmp.shape[0]
print(total, untranslated.shape)

the shape of 1.csv is (1000, 3)
the shape of 2.csv is (1000, 3)
the shape of 3.csv is (1000, 3)
the shape of 4.csv is (1000, 3)
the shape of 5.csv is (1000, 3)
the shape of 6.csv is (1000, 3)
the shape of 7.csv is (1000, 3)
the shape of 8.csv is (1000, 3)
the shape of 9.csv is (1000, 3)
the shape of 10.csv is (1000, 3)
the shape of 11.csv is (1000, 3)
the shape of 12.csv is (1000, 3)
the shape of 13.csv is (1000, 3)
the shape of 14.csv is (1000, 3)
the shape of 15.csv is (1000, 3)
the shape of 16.csv is (1000, 3)
the shape of 17.csv is (1000, 3)
the shape of 18.csv is (1000, 3)
the shape of 19.csv is (1000, 3)
the shape of 20.csv is (1000, 3)
the shape of 21.csv is (1000, 3)
the shape of 22.csv is (1000, 3)
the shape of 23.csv is (1000, 3)
the shape of 24.csv is (1000, 3)
the shape of 25.csv is (1000, 3)
the shape of 26.csv is (1000, 3)
the shape of 27.csv is (1000, 3)
the shape of 28.csv is (1000, 3)
the shape of 29.csv is (1000, 3)
the shape of 30.csv is (1000, 3)
the shape of 31.csv is (1000, 3)
the shape of 32.csv is (1000, 3)
the shape of 33.csv is (1000, 3)
the shape of 34.csv is (1000, 3)
the shape of 35.csv is (1000, 3)
the shape of 36.csv is (1000, 3)
the shape of 37.csv is (1000, 3)
the shape of 38.csv is (1000, 3)
the shape of 39.csv is (1000, 3)
the shape of 40.csv is (1000, 3)
the shape of 41.csv is (1000, 3)
the shape of 42.csv is (1000, 3)
the shape of 43.csv is (1000, 3)
the shape of 44.csv is (1000, 3)
the shape of 45.csv is (1000, 3)
the shape of 46.csv is (1000, 3)
the shape of 47.csv is (1000, 3)
the shape of 48.csv is (1000, 3)
the shape of 49.csv is (1000, 3)
the shape of 50.csv is (1000, 3)
the shape of 51.csv is (1000, 3)
the shape of 52.csv is (1000, 3)
the shape of 53.csv is (1000, 3)
the shape of 54.csv is (1000, 3)
the shape of 55.csv is (1000, 3)
the shape of 56.csv is (1000, 3)
the shape of 57.csv is (1000, 3)
the shape of 58.csv is (1000, 3)
the shape of 59.csv is (1000, 3)
the shape of 60.csv is (1000, 3)
the shape of 61.csv is (1000, 3)
the shape of 62.csv is (1000, 3)
the shape of 63.csv is (1000, 3)
the shape of 64.csv is (1000, 3)
the shape of 65.csv is (1000, 3)
the shape of 66.csv is (1000, 3)
the shape of 67.csv is (1000, 3)
the shape of 68.csv is (1000, 3)
the shape of 69.csv is (1000, 3)
the shape of 70.csv is (1000, 3)
the shape of 71.csv is (1000, 3)
the shape of 72.csv is (1000, 3)
the shape of 73.csv is (1000, 3)
the shape of 74.csv is (1000, 3)
the shape of 75.csv is (1038, 3)
75038 (75038, 3)